<div class="screen">
    <div class="content">
        <div style="display: flex; justify-content: space-between;">
            <div class="title"><span style="color: #3A3A3A;">Группа </span><span>предпринимателей</span></div>
            <div class="block monitor">
                <div class="commas">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                        <path d="M4.28578 7.57111L4.28578 3.2854L2.14293 3.2854L3.57151 0.428267L1.42865 0.428267L7.33308e-05 3.2854L7.29561e-05 7.57111L4.28578 7.57111Z" fill="#002ED0"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                        <path d="M4.28578 7.57111L4.28578 3.2854L2.14293 3.2854L3.57151 0.428267L1.42865 0.428267L7.33308e-05 3.2854L7.29561e-05 7.57111L4.28578 7.57111Z" fill="#002ED0"/>
                    </svg>
                </div>
                <div class="text">{{text}}</div>
            </div>
            <div class="group"></div>
        </div>
        <div class="block mobile">
            <div class="commas">
                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                    <path d="M4.28578 7.57111L4.28578 3.2854L2.14293 3.2854L3.57151 0.428267L1.42865 0.428267L7.33308e-05 3.2854L7.29561e-05 7.57111L4.28578 7.57111Z" fill="#002ED0"/>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                    <path d="M4.28578 7.57111L4.28578 3.2854L2.14293 3.2854L3.57151 0.428267L1.42865 0.428267L7.33308e-05 3.2854L7.29561e-05 7.57111L4.28578 7.57111Z" fill="#002ED0"/>
                </svg>
            </div>
            <div class="text">{{text}}</div>
        </div>

        <div class="wrap">
            <div class="container">
                <div id="{{tile.id}}" class="tile" *ngFor="let tile of tiles" (mouseenter)="onTile(tile)" (mouseleave)="onTile(tile)">
                    <div class="tile-title" [@tile-title]="tile.hover ? 'hover' : ''">{{tile.title}}</div>
                    <div class="tile-text" [@tile-text]="tile.hover ? 'hover' : ''">{{tile.text}}</div>
                    
                    <div class="picture" [@tile-picture]="tile.hover ? 'hover' : ''" style="background-image: url({{tile.picture}});"></div>
                    <div class="shadow" [@tile-shadow]="tile.hover ? 'hover' : ''"></div>
                    <div class="more-details" [@tile-more-details]="tile.hover ? 'hover' : ''" *ngIf="tile.id != 'tile-1'"></div>
                    <div class="more-details" style="opacity: 0;cursor: auto;" *ngIf="tile.id == 'tile-1'"></div>
                    <div class="circle" [@tile-circle]="tile.hover ? 'hover' : ''" style="background-image: url({{tile.circleColor}});"></div>
                </div>
            </div>
        </div>

    </div>
</div>