<div class="screen mobile">
    <div class="content" style="display: flex; justify-content: center; flex-direction: column;">
        <a href="#main"><div style="width: 100%; display: flex; justify-content: center; margin-bottom: 40px;"><div class="logo"></div></div></a>
        <div class="text">{{text}}</div>
        <a href="https://play.google.com/store/apps/details?id=ru.mts"><div class="google-play"></div></a>
        <a href="https://apps.apple.com/ru/app/mts/id1300134663"><div class="app-store"></div></a>
        <a href="https://appgallery8.huawei.com/#/app/C101971337"><div class="huawei"></div></a>
    </div>
</div>

<div class="screen monitor">
    <div class="content">
        <div class="line"></div>
        <div style="display: flex;">
            <a href="#main"><div class="logo" style="margin-right: 103px;"></div></a>
            <div style="display: flex;">
                <div style="width: 502px; height: 85px; display: flex; flex-wrap: wrap; align-content: space-between; margin-right: 108px;">
                    <a class="link" href="#about">О компании</a>
                    <a class="link" href="#group">Группа педпринимателей</a>
                    <a class="link" href="#our-team">Наша команда</a>
                    <a class="link" href="#contacts">Контакты</a>
                </div>
                <div>
                    <div class="text">{{text}}</div>
                    <div class="buttons">
                        <a href="https://play.google.com/store/apps/details?id=ru.mts"><div class="google-play"></div></a>
                        <a href="https://apps.apple.com/ru/app/mts/id1300134663"><div class="app-store"></div></a>
                        <a href="https://appgallery8.huawei.com/#/app/C101971337"><div class="huawei"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>