<div class="screen">
    <div class="content">
        <div style="display: flex; justify-content: space-between;">
            <div class="title"><span>География</span></div>
            <div class="world"></div>
        </div>
        <div class="text">Новые страны новые возможности:</div>
        <div class="flags-container">
            <div class="flags">
                <div class="flag Kazakhstan"></div>
                <div class="flag Tajikistan"></div>
                <div class="flag Kyrgyzstan"></div>
                <div class="flag Uzbekistan"></div>
                <div class="flag Georgia"></div>
                <div class="flag Armenia"></div>
                <div class="flag Russia"></div>
                <div class="flag Belarus"></div>
                <div class="flag Turkey"></div>
                <div class="flag Germany"></div>
            </div>
        </div>
    </div>
</div>