<div class="line">
    <div class="content">
        <a href="#main"><div class="logo"></div></a>
        <div class="headings">
            <div class="menu-heading"><a id="about-comp" href="#about">О компании</a></div>
            <div class="menu-heading"><a id="our-team-comp" href="#our-team">Наша команда</a></div>
            <div class="menu-heading"><a id="group-comp" href="#group">Группа предпринимателей</a></div>
            <div class="menu-heading"><a id="contacts-comp" href="#contacts">Контакты</a></div>
            <div>
                <a href="tel:8 (800) 550 08 55">
                    <div class="menu-heading" style="font-size: 20px;font-weight: 600;">8 (800) 550 08 55</div>
                    <div class="round"><div class="tel"></div></div>
                </a>
            </div>
        </div>
    </div>
</div>