<div class="screen">
    <div class="content">
        <div class="big-blue-rect">
            <div class="big-lettering">Расширяем границы бизнеса</div>
            <div class="container">
                <div class="bg-block build">
                    <div class="sliding-element">
                        <div class="color orange">
                            <div class="rotate lettering">
                                Строим
                            </div>
                        </div>
                        <div class="slide-2">
                            <div style="display: flex; flex-direction: column;">
                                <div class="lettering">Строим</div>
                                <div class="logo logo-build"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-block join">
                    <div class="sliding-element">
                        <div class="color green">
                            <div class="rotate lettering">
                                Объединяем
                            </div>
                        </div>
                        <div class="slide-2">
                            <div style="display: flex; flex-direction: column;">
                                <div class="lettering">Объединяем</div>
                                <div class="logo logo-join"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-block evolve">
                    <div class="sliding-element">
                        <div class="color navy">
                            <div class="rotate lettering">
                                Развиваем
                            </div>
                        </div>
                        <div class="slide-2">
                            <div style="display: flex; flex-direction: column;">
                                <div class="lettering">Развиваем</div>
                                <div class="logo logo-evolve"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-block help">
                    <div class="sliding-element">
                        <div class="color yellow">
                            <div class="rotate lettering">
                                Помогаем
                            </div>
                        </div>
                        <div class="slide-2">
                            <div style="display: flex; flex-direction: column;">
                                <div class="lettering">Помогаем</div>
                                <div class="logo logo-help"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-block create">
                    <div class="sliding-element">
                        <div class="color violet">
                            <div class="rotate lettering">
                                Создаем
                            </div>
                        </div>
                        <div class="slide-2">
                            <div style="display: flex; flex-direction: column;">
                                <div class="lettering">Создаем</div>
                                <div class="logo logo-create"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>